*{
	box-sizing:border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	color: #526475;
	
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a{
	color: #09a0f6;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:300;
	margin-top:0;
	margin-bottom:20px;
	display:block
}

.lnr{
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 5px;
}


.main {
	width: 94%;
	max-width:1200px;
	min-height: 80vh;
	margin: 40px auto 0 auto;
    margin-top: 40px;
    margin-bottom: 0px;
}

.button-collapse.button-main-menu{
	display:block;
}

.main-logo{
	font-size:1.5em;
	font-weight:600;
	margin-left:10px;
}

.bottom-logo{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.bottom-logo a{
	font-size:1.5em;
	font-weight:600;
}

.bottom-logo a:hover{
	background:none;
	color:#0991ED;
	cursor:pointer;
}

.search-input{
	margin:8px;
	height:48px;
	background: rgba(0,0,0,0.1);
}

.search-input .lnr{
	display:inline-block;
	vertical-align:top;
	margin: 0 15px;
	font-size:20px;
	line-height:48px;
	color: white;	
}

.search-input input, 
.search-input input:focus:not([type]):not([readonly]), 
.search-input input[type="text"]:focus:not([readonly]){
	display:inline-block;
	vertical-align:top;
	width:150px;
	height:48px;
	margin:0;
	border: none;
	outline: none;
	background: none;
	color: white;
}

.side-nav .spacer{
	margin-bottom: 50px;
}

.tabs .tab a{
    color:#0091ea;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#0091ea;
}
.tabs .indicator {
	background-color:#0091ea;
}

.card .login-card{
	padding: 40px;
}

.login-card h3{
	font-weight: 500;
}

.login-card form{
	padding: 30px 0;
}

.thumbnail{
	position:relative;
	width:100%;
	padding-bottom:70%;
	background: grey url() no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.thumbnail:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.3);
}

.modal{
	max-width: 800px;
}

.modal h4{
	margin-bottom: 30px;
}

.modal .spacer{
	float:right;
	margin:3px;
}

.modal .modal-content{
	min-height: 300px;
	overflow:hidden;
}

.dropzone {
    min-height: 200px;
    border: 3px dashed #0091ea;
}

.wrapper-image{
	position:relative;
}

.wrapper-image:before{
	content:"";
	display:block;
	position:relative;
	padding-bottom: 100%;
}

.inner-wrapper-image{
	position:absolute;
	top:0.75rem;
	left:0.75rem;
	right:0.75rem;
	bottom:0.75rem;
	background: grey url() no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:hidden;
}

.inner-wrapper-image .overlay-actions{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0,0,0,0.5); 
	opacity:0;
	transform:scale(0.5);
	transition: all .3s ease;
}

.inner-wrapper-image:hover .overlay-actions{
	opacity:1;
	transform:scale(1);
}

.actions-wrapper{
	position:relative;
	top:50%;
	margin-top:-15px;
	text-align:center;
}

.actions-wrapper .action{
	display:inline-block;
	margin: 0 5px;
	background:none;
	border:none;
	font-size: 30px;
	color:white;
}

.actions-wrapper .action:hover{
	color:#0091ea;
}

@media only screen and (max-width : 992px) {
  
}